header#main-header{
    background-color:#f0e3c4;
    font-size:18px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#logo-love-pet{
    background-color: #248ea9;
    justify-content: left;
}

#entrar-principal{
    margin-top: 35px;
}